{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="bg-black h-screen w-screen">
<div class="h-full w-full items-center justify-center flex"> 
<div class="blackbedev border-2 border-black flex flex-col items-center justify-center h-[64rem] w-[30rem] p-4">
<img class="mt-16" height="150px" width="150px" src="{{ asset('images/logos/cc2a61939245405fb2171617035ec283_10.png') }}" alt="Be-dev"/>
    <h1 class="yellowbedev-text text-4xl my-4">Re<span class="text-white">gister</span></h1>
    <form class="text-center h-full w-full">
    <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Prenom </h1>
    <input class="p-2  border-2 border-black  w-72" type="text" placeholder="votre prenom"/>
    <div/>
    <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Nom de famille </h1>
    <input class="p-2  border-2 border-black  w-72" type="text" placeholder="votre nom de famille"/>
    <div/>
     <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Email </h1>
    <input class="p-2  border-2 border-black  w-72 " type="email" placeholder="votre email"/>
    <div/>
      <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Entreprise </h1>
    <input class="p-2  border-2 border-black  w-72 " type="text" placeholder="enter entreprise"/>
    <div/>
      <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Telephone </h1>
    <input class="p-2  border-2 border-black  w-72 " type="number" placeholder="votre telephone"/>
    <div/>
    <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Mot de passe </h1>
    <input class="p-2  border-2 border-black  w-72" type="password" placeholder="Votre mot de passe"/>
    <div/>
    <div class="my-8">
    <button class="p-2  border-2 border-black yellowbedev w-72 hover:whitebedev" type="button" > S'inscrire</button>
    <div/>
    <div class="my-8">
    <link href="http://localhost:8000/login">
    <h1 class="my-2 text-white text-xl">Se connecter
    <hr class="border-white mx-40"/>
    </h1>
    </link>
    <div/>
</div>
    
    
    <form/>
    <h1 class="text-white text-center justify-end text-xs mt-12">© BEDEV-2023</h1>
<div/>
   
<section/>
{% endblock %}
