{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="bg-black h-screen w-screen lg:h-full lg:w-full lg:overscroll-y-none lg:overflow-hidden">
<div class="h-full w-full items-center justify-center flex"> 
<div class="blackbedev border-2 border-black flex flex-col items-center justify-center h-[70rem] w-[40rem]  lg:my-8 p-4">
<div class="flex items-center justify-center">
<img class="mt-16" height="150px" width="150px" src="{{ asset('images/logos/cc2a61939245405fb2171617035ec283_10.png') }}" alt="Be-dev"/>
</div>
    <h1 class="yellowbedev-text text-4xl my-4">Re<span class="text-white">gister</span></h1>
     {{ form_start(registrationForm) }}
    <form class="text-center h-full w-full">
    <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Prenom </h1>
    <input class="p-2  border-2 border-black w-80" type="text" placeholder="votre prenom"/>
    <div/>
    <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Nom de famille </h1>
    <input class="p-2  border-2 border-black  w-80" type="text" placeholder="votre nom de famille"/>
    <div/>
     <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Email </h1>
    <input class="p-2  border-2 border-black  w-80 " type="email" placeholder="votre email"/>
    <div/>
      <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Entreprise </h1>
    <input class="p-2  border-2 border-black  w-80 " type="text" placeholder="enter entreprise"/>
    <div/>
      <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Adresse postale </h1>
    <input class="p-2  border-2 border-black  w-80 " type="text" placeholder="votre Adresse postale"/>
    <div/
      <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Telephone </h1>
    <input class="p-2  border-2 border-black  w-80 " type="number" placeholder="votre telephone"/>
    <div/>
    <div class="my-4">
    <h1 class="yellowbedev-text mb-1">Mot de passe </h1>
    <input class="p-2  border-2 border-black  w-80" type="password" placeholder="Votre mot de passe"/>
    <div/>
    <div class="my-8">
    <button class="p-2  border-2 border-black yellowbedev w-80 hover:whitebedev btn" type="submit" > S'inscrire</button>
   {{ form_row(registrationForm.agreeTerms) }}
   
    <div/>
    <div class="my-8">
    <link href="http://localhost:8000/login">
    
    </link>
    <div/>
</div>
    
    
    <form/>
    <h1 class="text-white text-center justify-end text-xs mt-12">© BEDEV-2023</h1>
<div/>
   
<section/>

{% endblock %}
